name: Run R Code with renv and testthat

on:
  push:
  pull_request:
    branches: [main, master, dac]

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      RENV_CONFIG_REPOS_OVERRIDE: https://packagemanager.posit.co/cran/latest
      RENV_CONFIG_INSTALL_STAGED: false
      RENV_CONFIG_CACHE_SYMLINKS: FALSE
      RENV_ROBOCOPY_SAFETY: false
      RENV_CONFIG_VERBOSE: TRUE
      RENV_CONFIG_PACKAGE_TYPE: binary

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up R
      uses: r-lib/actions/setup-r@v2
        
    - name: Install system dependencies (mac)
      if: runner.os == 'macOS'
      run: |
        brew install gcc udunits gettext jq gdal
    
    - name: Install system dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          libcurl4-openssl-dev libssl-dev libxml2-dev \
          libharfbuzz-dev libfribidi-dev libfreetype6-dev \
          libpng-dev libtiff5-dev libjpeg-dev \
          libudunits2-dev libgdal-dev gdal-bin \
          libgeos-dev libproj-dev libgettextpo-dev gettext \
          libx11-dev
          
    - name: Extract package names from renv.lock and install
      shell: Rscript {0}
      run: |
        options(repos = c(REPO = "https://packagemanager.posit.co/cran/latest"))
        install.packages("jsonlite")
        pkgs <- names(jsonlite::fromJSON("renv.lock")$Packages)
        install.packages(pkgs)
    
    - name: Run testthat tests
      run: |
        Rscript -e 'install.packages("testthat", repos = "https://cloud.r-project.org")'
        Rscript tests/testthat.R
